* {
  box-sizing: border-box;
}

html {
  background: url(images/realtor_sandiego_view.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.75;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b8c6f3; /* Black background with opacity */
  opacity: 0.4;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 30%;
  font-size: 65px;
  /* color: rgb(11, 7, 255); */
  color: snow;
  font-weight: bolder;
  text-shadow: 5px 5px 10px snow;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "Big Shoulders Inline Text", cursive;
  width: 25%;
}

.container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 60%;
  margin: 0 20% 0 20%;
  text-shadow: 5px 5px 20px black;
  text-transform: uppercase;
}

form {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  color: snow;
  width: 400px;
}

h1 {
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  text-shadow: 10px 10px 10px black;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 15px;
  text-transform: none;
}

label {
  font-size: 30px;
  font-family: "Carrois Gothic SC", sans-serif;
  display: none;
}

p {
  font-size: 20px;
  font-family: "Carrois Gothic SC", sans-serif;
  color: black;
}

.subtext {
  font-size: 12px;
}

input,
select,
#phone,
#comment {
  width: 50%;
  height: 50%;
  padding: 12px 20px;
}

.container {
  background: url("images/bg_pages.png") no-repeat center,
    linear-gradient(to right, #fec458, #6d72c9);
  float: right;
  width: fit-content;
  width: -moz-fit-content;
  position: initial;
  margin-top: 225px;
  border-radius: 10%;
  height: 500px;
}

input[type="submit"] {
  margin-top: 30px;
}

h4 {
  font-size: 15px;
}

img {
  margin: 0;
  width: 30px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  #text {
    font-size: 40px;
    text-align: center;
    min-width: 300px;
    display: contents;
    color: snow;
  }
  .container {
    margin: auto;
    text-shadow: 10px 10px 10px black;
    float: none;
    border-radius: 25%;
    overflow: hidden;
  }
  form {
    width: 350px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1150px) {
  #text {
    font-size: 40px;
    text-align: center;
    min-width: 300px;
    display: grid;
    color: snow;
    margin-left: 175px;
    margin-right: 200px;
    margin-top: -300px;
  }
  .container {
    margin-top: 450px;
    /* margin-right: auto; */
    text-shadow: 10px 10px 10px black;
  }
}

@media screen and (min-width: 769px) and (max-width: 1369px) {
  #text {
    font-size: 55px;
    width: 50%;
  }
}
